<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto mt-4">
      <div class="card shadow ">
        <div class="card-header bg-primary">
          <h3 class="text-light">Add New Document</h3>
          </div>
          <div class="card-body p-3">
            <form action=/addDocumentPage method="post" id="add-form" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="doc-type">Type:</label>
                <input type="text" id="doc-type" name="type" class="form-control form-control-lg" placeholder="Enter Document Type" required />
              </div>
              <div class="mb-3">
                <label for="doc-name">Name:</label>
                <input type="text" id="doc-name" class="form-control form-control-lg" name="name" placeholder="Enter Document Name" required />
              </div>
              <div class="mb-3">
                <label for="doc-description">Description:</label>
                <input type="text" id="doc-description" class="form-control form-control-lg" name="description" placeholder="Enter Document Description" />
              </div>
              <div class="mb-3">
                <label for="doc-company">Company:</label>
                <input type="text" id="doc-company" class="form-control form-control-lg" name="company" placeholder="Enter Document Company" required />
              </div>
              <div class="mb-3">
                <label for="doc-uploaded-At">UploadedAt:</label>
                <input type="datetime-local" id="doc-uploaded-At" class="form-control form-control-lg" name="uploadedAt"placeholder="Enter Date of Upload" required />
              </div>
              <div class="mb-3">
                <label for="doc-imageUrl">Image:</label>
                <input type="file" id="doc-imageUrl" class="form-control form-control-lg" name="imageUrl" placeholder="Upload Document Image" required />
              </div>
              <div class="mb-3 d-grid"></div>
              <button type="submit" name="submit "class="btn btn-primary btn-lg">Save Document</button>
            </form>
          </div>
        
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
