<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <h1>Welcome to My Website</h1>
      <section class="container">
        <form id="document-form">
          <input type="hidden" id="doc-id" />
          <div class="form-group">
              <label for="doc-type">Type:</label>
              <input type="text" id="doc-type" required />
          </div>
          <div class="form-group">
              <label for="doc-name">Name:</label>
              <input type="text" id="doc-name" required />
          </div>
          <div class="form-group">
              <label for="doc-description">Description:</label>
              <input type="text" id="doc-description" required />
          </div>
          <div class="form-group">
              <label for="doc-company">Company:</label>
              <input type="text" id="doc-company" required />
          </div>
          <div class="form-group">
              <label for="doc-uploaded-at">Uploaded At:</label>
              <input type="datetime-local" id="doc-uploaded-at" required />
          </div>
          <button type="submit" class="btn">Save Document</button>
      </form>
      </section>
    </main>
    <script src="index.js"></script>
  </body>
</html>
